@tailwind base;

body {
	scrollbar-width: 10px;
	scrollbar-color: hsl(var(--b1)) hsl(var(--n));
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: hsl(var(--n));
	border-radius: 10px;
}

@tailwind components;
@tailwind utilities;

.animate__animated.animate__fastest {
	-webkit-animation-duration: calc(1s / 4);
	animation-duration: calc(1s / 4);
	-webkit-animation-duration: calc(var(--animate-duration) / 4);
	animation-duration: calc(var(--animate-duration) / 4);
}

@layer base {
	html {
		font-family: 'IBM Plex Sans', system-ui, sans-serif;
	}
	input[type='number'] {
		@apply !pr-0;
	}
}

@layer components {
	.btn-outline {
		@apply border-2;
	}
	.focus {
		@apply !bg-primary hover:bg-primary-focus focus:bg-primary-focus text-base-100;
	}
	.menu .active {
		@apply !bg-base-200 hover:!bg-base-200 !text-primary;
	}
	.menu li > *:active {
		@apply !bg-base-200 !text-primary;
	}
	.btn-ghost {
		@apply disabled:bg-transparent;
	}
	.btn-primary,
	.btn-outline.btn-error:hover,
	.btn-outline.btn-success:hover,
	.btn-outline.btn-info:hover,
	.btn-outline.btn-warning:hover,
	.btn-error,
	.btn-info,
	.btn-success,
	.btn-warning {
		@apply text-base-100;
	}
	.btn-error:hover:not(.btn-outline),
	.btn-error.btn-active:not(.btn-outline),
	.btn-info:hover:not(.btn-outline),
	.btn-info.btn-active:not(.btn-outline),
	.btn-success:hover:not(.btn-outline),
	.btn-success.btn-active:not(.btn-outline),
	.btn-warning:hover:not(.btn-outline),
	.btn-warning.btn-active:not(.btn-outline) {
		@apply brightness-[0.8];
	}
	.checkbox {
		@apply border-2;
	}
	.select,
	.input,
	.textarea {
		@apply overflow-hidden outline bg-transparent outline-2 border-0 shadow-lg !ring-0 !transition-all !duration-75 focus:outline-primary;
	}
	.toggle {
		@apply !bg-none !border-2;
	}
	.chat-bubble a {
		@apply !link !link-info;
	}
	.chat-bubble table {
		@apply !table !table-xs;
	}
	.chat-bubble table :where(thead, tfoot) {
		@apply !text-base-100;
	}
	.chat-bubble pre {
		@apply !my-4 !whitespace-pre-wrap;
	}
	.chat-bubble ul {
		@apply !list-disc !list-inside;
	}
	.chat-bubble ol {
		@apply !list-decimal !list-inside;
	}
}

.apexcharts-tooltip {
	@apply !rounded-lg !text-xs;
}

.apexcharts-toolbar {
	@apply !max-w-none !right-1/2 translate-x-1/2 gap-2;
}

.apexcharts-text,
.apexcharts-legend-text {
	@apply !font-medium;
}

.apexcharts-toolbar > * {
	@apply !m-0;
}

.apexcharts-toolbar-custom-icon {
	@apply !w-fit !h-fit;
}

.apexcharts-menu {
	@apply !rounded-lg !min-w-0 !bg-base-200 !border-neutral !border-2 !p-0 !mt-1 !right-1 overflow-hidden;
}

.apexcharts-menu > * {
	@apply !py-1 !px-2 hover:bg-base-300 font-medium transition-colors;
}

.memory-page .join.join-vertical {
	top: -164px;
	left: 0;
}