@tailwind base;

body {
  scrollbar-width: 10px;
  scrollbar-color: hsl(var(--b1)) hsl(var(--n));
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--n));
  border-radius: 10px;
}

@tailwind components;
@tailwind utilities;

.animate__animated.animate__fastest {
  -webkit-animation-duration: calc(1s / 4);
  animation-duration: calc(1s / 4);
  -webkit-animation-duration: calc(var(--animate-duration) / 4);
  animation-duration: calc(var(--animate-duration) / 4);
}

@layer base {
  html {
    font-family: "Ubuntu", system-ui, sans-serif;
  }
}

@layer components {
  .btn-outline {
    @apply border-2;
  }
  .focus, .active {
    @apply !bg-primary hover:bg-primary-focus focus:bg-primary-focus text-base-100;
  }
  .menu li > *:active {
    @apply !bg-base-content
  }
  .btn-ghost {
    @apply disabled:bg-transparent;
  }
  .btn-outline.btn-error:hover, .btn-outline.btn-success:hover,
  .btn-outline.btn-info:hover, .btn-outline.btn-warning:hover,
  .btn-error, .btn-info, .btn-success, .btn-warning {
    @apply text-base-100;
  }
  .btn-error:hover:not(.btn-outline), .btn-error.btn-active:not(.btn-outline),
  .btn-info:hover:not(.btn-outline), .btn-info.btn-active:not(.btn-outline),
  .btn-success:hover:not(.btn-outline), .btn-success.btn-active:not(.btn-outline),
  .btn-warning:hover:not(.btn-outline), .btn-warning.btn-active:not(.btn-outline) {
    @apply brightness-[0.8];
  }
  .checkbox {
    @apply border-2;
  }
  .select, .input, .textarea {
    @apply overflow-hidden outline outline-offset-2 outline-2 border-0 !ring-0 !transition-all !duration-75 focus:outline-primary;
  }
  .toggle {
    @apply !bg-none !border-2;
  }
  .plotly .modebar-btn.active {
    @apply !bg-base-100;
  }
}

.plotly .modebar-group {
  display: flex !important;
  padding: 0px !important;
}