@tailwind base;
@tailwind components;
@tailwind utilities;

.animate__animated.animate__fastest {
	-webkit-animation-duration: calc(1s / 4);
	animation-duration: calc(1s / 4);
	-webkit-animation-duration: calc(var(--animate-duration) / 4);
	animation-duration: calc(var(--animate-duration) / 4);
}

@layer base {
	html {
		font-family: 'Rubik', system-ui, sans-serif;
	}
	body {
		scrollbar-width: 10px;
		scrollbar-color: theme(backgroundColor.base-100) theme(backgroundColor.neutral);
	}
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	::-webkit-scrollbar-thumb {
		background: theme(backgroundColor.neutral);
		border-radius: 10px;
	}
	input[type='number'] {
		@apply !pr-0;
	}
	audio {
		@apply h-10;
	}
	audio::-webkit-media-controls-enclosure {
		@apply bg-base-100 max-h-10 rounded-lg;
	}
	[data-theme='dark'] audio::-webkit-media-controls-mute-button,
	[data-theme='dark'] video::-webkit-media-controls-mute-button {
		background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3dUZXh0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMyA5djZoNGw1IDVWNEw3IDlIM3ptMTMuNSAzYzAtMS43Ny0xLjAyLTMuMjktMi41LTQuMDN2OC4wNWMxLjQ4LS43MyAyLjUtMi4yNSAyLjUtNC4wMnpNMTQgMy4yM3YyLjA2YzIuODkuODYgNSAzLjU0IDUgNi43MXMtMi4xMSA1Ljg1LTUgNi43MXYyLjA2YzQuMDEtLjkxIDctNC40OSA3LTguNzdzLTIuOTktNy44Ni03LTguNzd6Ii8+DQogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPg0KPC9zdmc+');
	}
	audio::-webkit-media-controls-mute-button,
	video::-webkit-media-controls-mute-button {
		background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3ciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICAgIDxwYXRoIGQ9Ik0zIDl2Nmg0bDUgNVY0TDcgOUgzem0xMy41IDNjMC0xLjc3LTEuMDItMy4yOS0yLjUtNC4wM3Y4LjA1YzEuNDgtLjczIDIuNS0yLjI1IDIuNS00LjAyek0xNCAzLjIzdjIuMDZjMi44OS44NiA1IDMuNTQgNSA2Ljcxcy0yLjExIDUuODUtNSA2LjcxdjIuMDZjNC4wMS0uOTEgNy00LjQ5IDctOC43N3MtMi45OS03Ljg2LTctOC43N3oiLz4NCiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+DQo8L3N2Zz4NCg==');
	}
	[data-theme='dark'] audio::-webkit-media-controls-play-button,
	[data-theme='dark'] video::-webkit-media-controls-play-button {
		background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3dUZXh0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNOCA1djE0bDExLTd6Ii8+DQogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPg0KPC9zdmc+');
	}
	audio::-webkit-media-controls-play-button,
	video::-webkit-media-controls-play-button {
		background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3ciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICAgIDxwYXRoIGQ9Ik04IDV2MTRsMTEtN3oiLz4NCiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+DQo8L3N2Zz4NCg==');
	}
	video {
		@apply rounded-lg shadow-xl;
	}
	video::-webkit-media-controls-panel {
		background: linear-gradient(to bottom, transparent, theme(backgroundColor.base-300)) repeat-x bottom left;
	}
	[data-theme='dark'] video::-webkit-media-controls-fullscreen-button {
		background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3dUZXh0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+DQogICAgPHBhdGggZD0iTTcgMTRINXY1aDV2LTJIN3YtM3ptLTItNGgyVjdoM1Y1SDV2NXptMTIgN2gtM3YyaDV2LTVoLTJ2M3pNMTQgNXYyaDN2M2gyVjVoLTV6Ii8+DQo8L3N2Zz4=');
	}
	video::-webkit-media-controls-fullscreen-button {
		background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJXaW5kb3ciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4NCiAgICA8cGF0aCBkPSJNNyAxNEg1djVoNXYtMkg3di0zem0tMi00aDJWN2gzVjVINXY1em0xMiA3aC0zdjJoNXYtNWgtMnYzek0xNCA1djJoM3YzaDJWNWgtNXoiLz4NCjwvc3ZnPg0K');
	}
}

@layer components {
	.btn-outline {
		@apply border-2;
	}
	.btn-primary:not(.btn-outline, .btn-ghost) {
		@apply !text-base-100;
	}
	.btn-primary.btn-outline,
	.btn-primary.btn-ghost {
		@apply hover:!text-base-100;
	}
	.menu .active {
		@apply !bg-base-200 hover:!bg-base-200 !text-primary;
	}
	.menu li > *:active {
		@apply !bg-base-200 !text-primary;
	}
	.btn-ghost {
		@apply disabled:bg-transparent;
	}
	.checkbox {
		@apply border-2;
	}
	.select,
	.input,
	.textarea {
		@apply overflow-hidden outline bg-transparent outline-1 focus:outline-offset-0 border-0 !ring-0 !transition-all !duration-75 focus:outline-primary;
	}
	.toggle {
		@apply !bg-none !border-2;
	}
	.chat-bubble a {
		@apply !link !link-info;
	}
	.chat-bubble table {
		@apply !table !table-xs;
	}
	.chat-bubble table :where(thead, tfoot) {
		@apply !text-base-100;
	}
	.chat-bubble pre {
		@apply !my-4 !whitespace-pre-wrap;
	}
	.chat-bubble ul {
		@apply !list-disc !list-inside;
	}
	.chat-bubble ol {
		@apply !list-decimal !list-inside;
	}
}

.apexcharts-tooltip {
	@apply !rounded-lg !text-xs;
}

.apexcharts-toolbar {
	@apply !max-w-none !right-1/2 translate-x-1/2 gap-2;
}

.apexcharts-text,
.apexcharts-legend-text {
	@apply !font-medium;
}

.apexcharts-toolbar > * {
	@apply !m-0;
}

.apexcharts-toolbar-custom-icon {
	@apply !w-fit !h-fit;
}

.apexcharts-menu {
	@apply !rounded-lg !min-w-0 !bg-base-200 !border-neutral !border-2 !p-0 !mt-1 !right-1 overflow-hidden;
}

.apexcharts-menu > * {
	@apply !py-1 !px-2 hover:bg-base-300 font-medium transition-colors;
}

.apexcharts-series-scatter {
	cursor: pointer;
}
