name: Release Zip

on:
  push:
    branches: [ develop ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build:
    timeout-minutes: 120
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install dependencies
      run: npm ci
    - name: Build static files
      run: npm run build --if-present
    - name: Zip Release
      uses: TheDoctor0/zip-release@0.7.1
      with:
        type: 'zip'
        filename: 'develop.zip'
        directory: './dist'
        path: '.'
    - name: Upload Release
      uses: ncipollo/release-action@v1.12.0
      with:
        tag: 'Admin'
        artifacts: './dist/develop.zip'
        allowUpdates: true
        replacesArtifacts: true
        body: |
          ${{ github.event.head_commit.message }}
        token: ${{ secrets.GITHUB_TOKEN }}